[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "googleAnalyticsR"]
	path = googleAnalyticsR
	url = https://github.com/8-bit-sheep/googleanalyticsr
